header.header{
    background-color: #e0e0e0;
    padding: 10px;
}

p.slogan{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #74b2dc;
    display: inline;
    margin-top: 40px;
}

nav.menuNav{
    display: flex;
}

@media screen{
    nav.menuNav ul{
        margin-left: 46%;
        margin-top: 51px;
    }
}


nav.menuNav ul li.button{
    display: inline-block;
    list-style-type: none;
    
}

nav.menuNav ul li.button a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

img.homeImg{
    max-height: 80vh;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


nav.menuNav ul li.button:hover a{
    background-color: #757575;
    transition: 0.4s all;
}

nav.menuNav img.connexionLogo{
    margin-top: 35px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #74b2dc;
    text-align: center;
}

div.RegisterPreview{
    
}

div.RegisterFormContainer{
    box-shadow: 0px 0px 15px #e0e0e0;
    border-radius: 10px;
    margin-left: 450px;
    margin-right: 20px;
    width: 50%;
}

h4.RegisterFormTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.lastNameInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 1;
}

div.lastNameInput div.lastNameLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.lastNameInput div.last_name{
    margin-top: 10px;
}

div.firstNameInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 2;
}

div.firstNameInput div.firstNameLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.firstNameInput div.first_name{
    margin-top: 10px;
}

div.emailInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 3;
}

div.emailInput div.emailLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.emailInput div.email{
    margin-top: 10px;
}

div.phoneInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 4;
}

div.phoneInput div.phoneLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.phoneInput div.phone{
    margin-top: 10px;
}

div.passwordInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 5;
}

div.passwordInput div.passwordLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.passwordInput div.password{
    margin-top: 10px;
}

div.repeatpasswordInput{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    order: 6;
}

div.repeatpasswordInput div.repeatpasswordLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div.repeatpasswordInput div.repeatpassword{
    margin-top: 10px;
}

div.registerBtn{
    order: 7;
    margin-left: 400px;
    height: 100px;
}

div.registerBtn button{
    height: 50px;
    width: 100px;
    background-color: #569ac7;
    color: white;
    border-style: outset;
    border-color: #569ac7;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    border-radius: 10px;
}

div.RegisterPreviewContainer{
    box-shadow: 0px 0px 15px #e0e0e0;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 30px;
    width: 50%;
}

div.registerBtn button:hover{
    background-color: #c4def0;
    cursor: pointer;
}

/* Footer */

footer.footer{
    background: linear-gradient(0deg, #e0e0e0 22%, #757575 22%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

h2.infiniteMeasuresFooter{
    margin-top: 50px;
}

div.principalFooter hr{
    color: white;
    width: 90%;
}

div.footerLinks{
    display: flex;
    margin-left: 25px;
}

div.footerLinks ul li.link{
    display: inline-block;
    list-style-type: none;   
}

div.footerLinks ul li.link a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

div.footerLinks ul li.link:hover a{
    background-color: #474747;
    transition: 0.4s all;
}


div.secondaryFooter{
    display: flex;
    justify-content: center;
}

div.secondaryFooter p.poweredBy{
    color: black;
}

div.secondaryFooter p.oversight{
    color: #52cde1;
    margin-left: 5px;
}

/* End Footer */